* {
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    z-index: 0;
}
body {
    background-image: url(../img/1657433703686.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.startup-div{
    position: relative;
    background-color:#282a3a;
    width: 43em;
    height: 35em;
    margin: auto;
    margin-top: 10em;
    /* outline: 2px solid rgb(176, 255, 147); */
    border-radius: 5px;
    box-shadow: 6px 7px 12px 1px rgba(0,0,0,0.75);
    overflow: hidden;
}

.startup-div__uppersection{
    position: absolute;
    color: azure;
    width: 100%;
    border: 3px solid grey;
    z-index: 100;
}

.startup-div_imagecontainer{
    position: absolute;
    margin-top: 28px;
    width: 20em;
    height: 96%;
}

.startup-div_imagecontainer__img{
    position: absolute;
    height: 40em;
    width: 20em;
    display: inline-block;
    object-fit: cover;
}

.startup-div__nav {
    position: absolute;
    top: 0;
    left: 25em;
    height: 100%;
    width: 18em;

}

.startup-div__h1{
    font-size: 2em;
    font-weight: 100;
    color:rgb(217, 141, 186);
    text-align: left;
}

.startup-div__a{
    font-size: 0.75em;
    color:rgb(184, 230, 255);
    text-align: left;
    font-weight: 100;
    text-decoration: none;
}

.startup-div__a:hover{
font-weight: 800;
font-size: 0.80em;
text-decoration: underline;
}

.searchbar__input {
    position: absolute;
    margin-top: 50%;
    background-color:#3d4058;
    border: hidden;
}

.searchbar__input:hover{
    
}